# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
backend/__pycache__/
backend/.env
# Virtual environment
venv/
.env
backend/organic
# Dataset and checkpoints
dataset/
*.csv

*.png

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
