# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
backend/__pycache__/
backend/.env
backend/organic
# Virtual environment
venv/
.env
backend/organic
# Dataset and checkpoints
dataset/
*.csv
*.keras
*.png
requirements.txt
/train_model.py
models/class_names.txt
# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
